<div class="title-content-post">
    <ol class="breadcrumb pull-left">
        <li><a href="#">{{getApp.name}}</a></li>
        <li><a href="#">Manage vehicles</a></li>
        <li ng-show="activeForm == 1"><a href="#" >Vehicles list</a></li>
        <li class="active" ng-show="activeForm == 0">Vehicles list</li>
        <li class="active" ng-show="activeForm == 1">{{data.carMarker}} information</li>
    </ol>
</div>
<div class="content-post" ng-show="activeForm == 0">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>

        </div>
        <div class="col-md-3">
            <div class="sort-search">
                <select ng-model="selectType" ng-change="chooseType(selectType)" class="form-control">
                    <option selected>All vehicles</option>
                    <option>4 Seats</option>
                    <option>7 Seats</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="add-new-item">
                <button type="button" class="btn btn-primary pull-right" ng-click="activeForm = 1"><i
                        class="glyphicon glyphicon-plus"></i> Add new
                </button>
                <button class="btn btn-primary pull-right"><a style="color: white;" download="data.xls" onclick="return ExcellentExport.excel(this, 'datatable', 'Sheet Name Here');">Export to Excel</a></button>
            </div>
        </div>
        <!-- <div class="col-md-1"> -->
        <!--     <div class="export-new-item"> -->
        <!--         <button class="btn btn-success"><a download="data.xls" onclick="return ExcellentExport.excel(this, 'datatable', 'Sheet Name Here');">Export to Excel</a><button> -->
        <!--     </div> -->
        <!-- </div> -->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-post" id="datatable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Car model</th>
                        <th>Color</th>
                        <th>Seats</th>
                        <th>First distance</th>
                        <th>First distance price</th>
                        <th>Middle distance</th>
                        <th>Middle distance price</th>
                        <th>Last distance</th>
                        <th>Last distance price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in listDriverTypes | filter:search"
                        ng-click="gotoPage('main.detailCarType',{id : data._id})">
                        <td>{{$index}}</td>
                        <td>{{data.carMarker}}</td>
                        <td>{{data.color}}</td>
                        <td>{{data.seatNum}}</td>
                        <td> &lt; {{data.firstKm}} Km</td>
                        <td>$ {{data.firstPrice}}</td>
                        <td>{{data.firstKm}} to {{data.middleKm}} Km</td>
                        <td>$ {{data.middlePrice}}</td>
			<td> &gt; {{data.middleKm}} Km</td>
                        <td>$ {{data.lastPrice}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="activeForm == 1">
        <div class="col-xs-12">
            <div ng-include="'views/cartype/form-carType.html'"></div>
        </div>
</div>
